version: "3.8"
services:
  web-server-php-82:
    container_name: php-82
    build:
      dockerfile: php82.Dockerfile
      context: .
    restart: always
    user: "www-data:www-data"
    volumes:
      - "./www/82/:/var/www/html/"
      - "./conf/apache/sites-available/:/etc/apache2/sites-available/"
    ports:
      - "82:80"
  web-server-php-83:
    container_name: php-83
    build:
      dockerfile: php83.Dockerfile
      context: .
    restart: always
    user: "www-data:www-data"
    volumes:
      - "./www/83/:/var/www/html/"
      - "./conf/apache/sites-available/:/etc/apache2/sites-available/"
    ports:
      - "80:80"

  mysql-server:
    container_name: mysql
    image: mysql:8.0.28
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: P1e2t3a4r5!
    volumes:
      - "./dumps/:/home/dumps/"
    ports:
      - "3306:3306"
    secrets:
      - source: custom
        target: /etc/mysql/conf.d/custom.cnf
      - source: mysql-cli
        target: /home/.config/mysql-cli.cnf
    cap_add:
      - SYS_NICE  # CAP_SYS_NICE

  phpmyadmin:
    container_name: phpmyadmin
    image: phpmyadmin/phpmyadmin:5.2.1
    restart: always
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: P1e2t3a4r5!
    ports:
      - "5000:80"

  elasticsearch-716:
    image: elasticsearch:7.16.3
    platform: linux
    container_name: elasticsearch-716
    environment:
      - cluster.name=docker-cluster
      - bootstrap.memory_lock=false
      - "ES_JAVA_OPTS=-Xms1500m -Xmx1500m"
      - discovery.type=single-node
    mem_limit: 2g
    restart: always
    ports:
      - "9200:9200"
  mailhog:
    image: mailhog/mailhog:latest
    container_name: mailhog
    ports:
      - "1025:25"
      - "8025:8025"
secrets:
    custom:
        file: ./conf/mysql/custom.cnf
    mysql-cli:
        file: ./conf/mysql/mysql-cli.cnf
    importDb:
        file: ./bin/importDb
    exportDb:
        file: ./bin/exportDb